<div class = "container">
  <div class = "photo-home-container">
    <div class = "outer-form-and-photo">
      <div class = "row show-grid">       

        <div class = "col-md-5">
          <div class = "col-md-12 profile-img"><%= image_tag @user.avatar, class: "avatar" %></div>
          <div class = "col-md-12"><%= @user.name %></div>
          <div class = "col-md-12 profile-info">Member since: <%=@user.created_at.strftime("%B %d, %Y")%></div>
          <div class = "col-md-12">Photos submitted: <%= @user.photos.size %></div>
          <div class = "col-md-12">Critiques submitted: <%= Critique.where(author: @user.id).size %></div>
          To-do: Move this stuff to left of critique chart - 
          remember that critique chart div is set in JS
          and that div width is set in CSS for centering
        </div><!--end 8 col-->
        
        <div class = "col-md-7">
          <div id = "critiques-chart" uid = <%=@user.id%>></div>
        </div>

      </div><!--end row-->
    
      <div class = "col-md-12 stats-div">
        <div class = "col-md-12">
          Critique averages for all photos
        </div>
        <div class = "row show-grid">
          <div class = "col-md-4">
            <div id = "aperture-chart-all" uid = <%=@user.id%>></div>
          </div>
          <div class = "col-md-4">
            <div id = "shutter-chart-all" uid = <%=@user.id%>></div>
          </div>
          <div class = "col-md-4">
            <div id = "iso-chart-all" uid = <%=@user.id%>></div>
          </div>
      </div>

      <div class = "row show-grid">
        <div class = "col-md-2"></div>
          <div class = "col-md-8">
            <div class = "col-md-12 show-photos-buttons">
              <%= link_to "All photos", show_user_path(:id=>@user.id, :show_diff_data => "all"), class: "btn btn-default", :remote => true %>
              <%= link_to "Photos with no critiques", show_user_path(:id=>@user.id, :show_diff_data => "no critiques"), class: "btn btn-default", :remote => true %>
            </div>
          </div>
        <div class = "col-md-2"></div>
      </div>
    </div><!--end outer form and photo-->
  </div><!--end photo home container-->
</div> <!--end container-->


<div id = 'populate-div'><%=render '/home/photos', :photos => @photos %></div>
