<div class = "container">
  <div class = "outer-form-and-photo">
    <div class = "row show-grid">
      <div class = "col-md-12">
        <%= image_tag @user.avatar, class: "avatar" %>
        <br>
        <%= @user.name %>
        <br>
        Member since: <%= @user.created_at.to_date.strftime("%B %d, %Y")%>
      </div>
    </div>
  </div>
</div>

<%= link_to "All photos", show_user_path(:id=>1, :show_diff_data => "yes"), :remote => true %>

<div id = 'test-filter'><%=render '/home/photos', :photos => @photos %></div>
<div id="test-click">Test</div>
