<div class = "container">
  <div class = "photo-home-container">
    <div class = "outer-form-and-photo">
      <div class = "row show-grid">       

        <div class = "col-md-5 col-xs-12 profile-info">
          <div class = "col-md-12 profile-img"><%= image_tag @user.avatar, class: "avatar" %> &nbsp;
            <div class = "username"><b><%=@user.name%></b></div></div>
          <div class = "col-md-12">Member since <%=@user.created_at.strftime("%B %d, %Y")%></div>
          <div class = "col-md-12"><%= @user.photos.size %> photos submitted</div>
          <div class = "col-md-12"><%= Critique.where(author: @user.id).size %> critiques given</div>
          <div class = "col-md-12"><a href=<%="https://www.flickr.com/photos/"+@user.fid%> target="_blank"><%=@user.name%> on Flickr</a></div>
        </div><!--end 8 col-->
        
        <div class = "col-md-7 col-xs-12">
          <div id = "critiques-chart" uid = <%=@user.id%>></div>
        </div>

      </div><!--end row-->
    
<% if @user.photos.length > 0 %>
      <div class = "col-md-12 col-xs-12 stats-div">
        <div class = "col-md-12">
          Critique averages for <%=@user.name%>'s photos
        </div>
        <div class = "row show-grid">
          <div class = "col-md-4 col-xs-12">
            <div id = "aperture-chart-all" uid = <%=@user.id%>></div>
          </div>
          <div class = "col-md-4 col-xs-12">
            <div id = "shutter-chart-all" uid = <%=@user.id%>></div>
          </div>
          <div class = "col-md-4 col-xs-12">
            <div id = "iso-chart-all" uid = <%=@user.id%>></div>
          </div>
        </div>
      </div>
<% end %>

      <div class = "row show-grid">
        <div class = "col-md-2"></div>
          <div class = "col-md-8">
<% if @user.photos.length > 0 %>
            <div class = "col-md-12 show-photos-buttons">
              <%= link_to "All photos", show_user_path(:id=>@user.id, :show_diff_data => "all"), class: "btn btn-default", :remote => true %>
              <%= link_to "Photos with no critiques", show_user_path(:id=>@user.id, :show_diff_data => "no critiques"), class: "btn btn-default", :remote => true %>
            </div>
<% else %>
            <div class = "col-md-12 profile-info">This user has submitted no photos</div>
<% end %>
          </div>
        <div class = "col-md-2"></div>
      </div>
    </div><!--end outer form and photo-->
  </div><!--end photo home container-->
</div> <!--end container-->

<div id = 'populate-div'><%= render('/home/photos', :photos => @photos) if @photos.any? %></div>
