<div class = "container">
  <div class = "profile-holder">
    <div class = "row show-grid">
      <div class = "col-md-12">
        <%= image_tag @user.avatar, class: "avatar" %>
        <br>
        <%= @user.name %>
        <br>
        <% if @user.level %>
          Level: <%= @user.level %>
          <br>
        <% end %>
        Member since: <%= @user.created_at.to_date.strftime("%B %d, %Y")%>
      </div>

      <div class = "col-md-12">      
        <% if session[:user_id] == @user.id && !@user.level%>
          Enter your level!
        <% end %>
      </div>
  
      <div class = "col-md-12">
        <%= link_to "All photos", show_user_path(:id=>@user.id, :show_diff_data => "all"), class: "btn btn-default", :remote => true %>
        <%= link_to "Photos with no critiques", show_user_path(:id=>@user.id, :show_diff_data => "no critiques"), class: "btn btn-default", :remote => true %>
      </div>
    </div>
  </div>
</div>


<div id = 'populate-div'><%=render '/home/photos', :photos => @photos %></div>
