<div class = "container">

      <div class="photo-home-container">
        <% Photo.all.each do |photo_object| %>

          <div class = "row show-grid outer-form-and-photo">

            <div class="col-md-6 photo-left-home">
              <a href=<%="/photo/#{photo_object.id}"%>><%= image_tag photo_object[:medium_640], class: "photo-home", id: "photo-"+photo_object[:fid] %></a>
            </div>

            <div class="col-md-6 whole-form" form_id=<%=photo_object[:fid]%>>

              <!--button for collapsing-->
              <%if !has_critiqued?(photo_object.fid)%>
                <div class="col-md-12"><a href=<%="/user/#{photo_object.user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a></div>
                <div class=<%="settings-used-box settings-box-"+photo_object.fid%>>
                  <div class="col-md-12">Shot by <%=photo_object.user.name%> with these settings:</div>
                  <div class="col-md-12">
                    <%= image_tag "aperture_symbol.png", class: "settings-img"%>
                    <div class="settings-text">ƒ/<%=photo_object.f_number%></div>
                    <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                    <div class="settings-text"><%=photo_object.exposure_time%></div>
                    <%= image_tag "iso_symbol.png", class: "settings-img"%>
                    <div class="settings-text"><%=photo_object.iso%></div>
                  </div>
                </div>
                <div class="col-md-12">What settings would you have used?</div>
                <div class="col-md-12"><button class="btn btn-primary" id=<%="collapse-button-"+photo_object.fid%> type="button" data-toggle="collapse" data-target=<%="#collapse"+photo_object.fid%>
                 aria-expanded="false" aria-controls=<%="collapse"+photo_object.fid%>>
                 Critique this photo
                </button></div>
              <%else%>
                You have critiqued this photo. Thanks!
              <%end%>
              <!--collapsing div-->
              <div class="collapse" id=<%="collapse"+photo_object.fid%>>


              <div class = "row show-grid whole-form-row">

                <div class = <%="col-md-12 "+photo_object[:fid]+"-sugg-settings-col"%>>
                  <div class = "col-md-12">Aperture</div>
                  <div class = "col-md-12">
                    <div class = "col-md-2"></div>
                    <div class= "col-md-8">
                      <div class = "aperture-slider" id = <%=photo_object.fid+"-aperture-slider"%>  
                      fid = <%=photo_object.fid%> maxAp = <%=photo_object.max_aperture_value%>
                      apUsed = <%=photo_object.f_number%>>
                    </div>
                    <div class="ap-symbol">ƒ/</div><div class="ap-hint" id =  <%=photo_object.fid+"-aperture-hint"%>></div>
                    <div id =  <%=photo_object.fid+"-aperture-dot"%> class="dots ui-state-default"></div>
                  </div>
                </div>

                  <div class = "col-md-12">Shutter speed</div>
                    <div class = "col-md-2"></div>
                    <div class= "col-md-8">
                      <div class = "col-md-12">
                        <div class = "exposure-slider" id = <%=photo_object.fid+"-exposure-slider"%>  
                        fid = <%=photo_object.fid%> expUsed = <%=photo_object.exposure_time%>
                        maxExp = "1/15">
                        </div>
                        <div id =  <%=photo_object.fid+"-exposure-hint"%>></div>
                        <div id =  <%=photo_object.fid+"-exposure-dot"%> class="dots ui-state-default"></div>
                      </div>
                  </div>


                  <div class = "col-md-12">ISO</div>
                    <div class = "col-md-2"></div>
                    <div class= "col-md-8">
                      <div class = "col-md-12">
                        <div class = "iso-slider" id = <%=photo_object.fid+"-iso-slider"%>  
                        fid = <%=photo_object.fid%> isoUsed = <%=photo_object.iso%>
                        maxExp = "100">
                        </div>
                      <div id =  <%=photo_object.fid+"-iso-hint"%>></div>
                      <div id =  <%=photo_object.fid+"-iso-dot"%> class="dots ui-state-default"></div>
                    </div>
                  </div>

                  <div class = "col-md-12">
                    <button type="button" class="btn btn-default submit-critique" 
                      fid=<%=photo_object.fid%> 
                      <%if session[:user_id]%>
                        session=<%=session[:user_id]%>
                      <%end%>>
                    Submit</button>
                  </div>
                </div> <!--end row-->

</div><!--end collapsing div-->


              </div> <!--end form column-->

            </div>
          </div>

        <% end %>
      </div>

</div>
                                                                                                                                                                                           
