<div class = "container">

      <div class="photo-home-container">

<!--START LOOP FOR DISPLAYING PHOTOS---------->
        <% @photos.each do |photo_object| %>

          <div class = "row show-grid outer-form-and-photo">

        <!--SHOW PHOTOS ON LEFT SIDE------>
            <div class="col-md-6 col-xs-12 col-sm-12 photo-left-home"> 
              <a href=<%="/photo/#{photo_object.id}"%> target="_blank"><%= image_tag photo_object[:medium_640], class: "photo-home", id: "photo-"+photo_object[:fid] %></a>
            </div>
        <!--END SHOW PHOTOS ON LEFT SIDE------>

        <!-- DIV CONTAINING ALL FORM ELEMENTS -->
            <div class="col-md-6 col-xs-12 col-sm-12 whole-form" form_id=<%=photo_object[:fid]%>> 
                
          <!--PRE CRITIQUE - THIS DIV SHOWS IF USER HAS NOT CRITIQUED PHOTO -->
              <% if !has_critiqued?(photo_object[:fid]) %>
              <div class="pre-critique-box" id=<%= "pre-critique-box-"+photo_object.fid%> fid=<%=photo_object.fid%>>
                <div class="col-md-12"> 
                  <a href=<%="/user/#{photo_object.user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a> &nbsp; Shot by <%=photo_object.user.name%> with these settings:
                </div>

                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                  
                    <div class = "col-md-8">
                      <div class = "row show-grid">
                          <%= image_tag "aperture_symbol.png", class: "settings-img"%> 
                          <div class="settings-text">ƒ/<%=photo_object.f_number%></div>
                          <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.exposure_time%></div>
                          <%= image_tag "iso_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.iso%></div>
                      </div>
                    </div>

                    <div class = "col-md-2"></div>
                  </div><!--end col-->
                </div><!--end row-->
              
                <div class="col-md-12">
                  <div class="btn btn-default critique-button" id=<%="critique-button-"+photo_object.fid%> fid=<%=photo_object.fid%> session=<%=session[:user_id]%>>Critique</div>
                </div>

              </div> 
              <% end %>
          <!-- END PRE CRITIQUE - THIS DIV SHOWS IF USER HAS NOT CRITIQUED PHOTO -->


          <!--START CRITIQUE FORM DIV - DEFAULTS TO HIDDEN, OUTER PART ALWAYS SHOWS---------->
              <div class = "critique-box hidden" id=<%="critique-box-"+photo_object.fid%> fid=<%=photo_object.fid%>>

            <!--ONLY RENDER CONTENTS OF HIDDEN CRITIQUE FORM DIV IF 1) SOMEONE IS LOGGED IN AND 2) THEY HAVE NOT CRITIQUED THAT PHOTO -->
              <% if session[:user_id] && !has_critiqued?(photo_object[:fid])%> 
                <div class = "row show-grid whole-form-row">
                  <div class = "col-md-12"><%= image_tag current_user.avatar, class: "avatar"%></div>
                  <div class = "col-md-12 critique-prompt">Enter the settings that you would have used for this shot</div>

                  <div class = <%="col-md-12 "+photo_object[:fid]+"-sugg-settings-col"%>>

                    <div class = "col-md-12 slider-title-bar">Aperture</div>
                    <div class = "col-md-12">
                      <div class = "col-md-2"></div>
                      <div class= "col-md-8 dot-fixer">
                        <div class = "aperture-slider" id = <%=photo_object.fid+"-aperture-slider"%>  
                          fid = <%=photo_object.fid%> maxAp = <%=photo_object.max_aperture_value%>
                          apUsed = <%=photo_object.f_number%>>
                        </div>
                        <div class="ap-symbol">ƒ/</div><div class="slider-hint" id =  <%=photo_object.fid+"-aperture-hint"%>></div>
                        <div id =  <%=photo_object.fid+"-aperture-dot"%> class="dots ui-state-default"></div>
                      </div>
                    </div>

                    <div class = "col-md-12 slider-title-bar">Shutter speed</div>
                    <div class= "col-md-12">
                      <div class = "col-md-2"></div>
                      <div class= "col-md-8 dot-fixer">
                        <div class = "exposure-slider" id = <%=photo_object.fid+"-exposure-slider"%>  
                          fid = <%=photo_object.fid%> expUsed = <%=photo_object.exposure_time%>
                          maxExp = "1/15">
                        </div>
                        <div class="slider-hint" id =  <%=photo_object.fid+"-exposure-hint"%>></div>
                        <div id =  <%=photo_object.fid+"-exposure-dot"%> class="dots ui-state-default"></div>
                      </div>
                    </div>

                  <div class = "col-md-12 slider-title-bar">ISO</div>
                  <div class = "col-md-12">
                    <div class= "col-md-2"></div>
                    <div class = "col-md-8 dot-fixer">
                      <div class = "iso-slider" id = <%=photo_object.fid+"-iso-slider"%>  
                        fid = <%=photo_object.fid%> isoUsed = <%=photo_object.iso%>
                        maxExp = "100">
                      </div>
                      <div class = "slider-hint" id =  <%=photo_object.fid+"-iso-hint"%>></div>
                      <div id =  <%=photo_object.fid+"-iso-dot"%> class="dots ui-state-default"></div>
                    </div>
                  </div>

                  <div class = "col-md-12">
                    <button type="button" class="btn btn-default submit-critique" 
                      fid=<%=photo_object.fid%> 
                      <%if session[:user_id]%>
                        session=<%=session[:user_id]%>
                      <%end%>>
                    Submit</button>
                  </div>

                </div> <!--end whole form col-->
              </div><!--end whole form row-->

            <% end %>
          <!-- END ONLY RENDER CONTENTS OF HIDDEN CRITIQUE FORM DIV IF 1) SOMEONE IS LOGGED IN AND 2) THEY HAVE NOT CRITIQUED THAT PHOTO -->

            </div>
          <!--END HIDDEN CRITIQUE FORM DIV-->



          <!--START AJAX POST CRITIQUE FORM DIV - DEFAULTS TO HIDDEN, OUTER PART ALWAYS SHOWS---------->
            <div class = "post-critique-ajax hidden" id=<%="post-critique-ajax-"+photo_object.fid %> fid = <%=photo_object.fid%>>

            <!--ONLY RENDER CONTENTS OF HIDDEN POST CRITIQUE FORM DIV IF 1) SOMEONE IS LOGGED IN AND 2) THEY HAVE NOT CRITIQUED THAT PHOTO -->
              <% if session[:user_id] && !has_critiqued?(photo_object[:fid])%> 
                <div class="col-md-12"> 
                  <a href=<%="/user/#{photo_object.user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a> &nbsp; Shot by <%=photo_object.user.name%> with these settings:
                </div>

                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                  
                    <div class = "col-md-8">
                      <div class = "row show-grid">
                          <%= image_tag "aperture_symbol.png", class: "settings-img"%> 
                          <div class="settings-text">ƒ/<%=photo_object.f_number%></div>
                          <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.exposure_time%></div>
                          <%= image_tag "iso_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.iso%></div>
                      </div>
                    </div>

                    <div class = "col-md-2"></div>
                  </div><!--end col-->
                </div><!--end row-->

                <div class="col-md-12 post-critique-sugg"> 
                  <hr>
                  <a href=<%="/user/#{current_user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a> &nbsp; On <%=Date.today.strftime("%B %d, %Y")%> you suggested these settings:
                </div>


                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                  
                    <div class = "col-md-8">
                      <div class = "row show-grid sugg-list">
                          <%= image_tag "aperture_symbol.png", class: "settings-img"%> 
                          <div class="settings-text" id = <%="sugg-aperture-ajax-"+photo_object.fid%>>ƒ/</div>
                          <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                          <div class="settings-text" id = <%="sugg-shutter-ajax-"+photo_object.fid%>></div>
                          <%= image_tag "iso_symbol.png", class: "settings-img"%>
                          <div class="settings-text" id = <%="sugg-iso-ajax-"+photo_object.fid%>></div>
                      </div>
                    </div>

                    <div class = "col-md-2"></div>
                  </div><!--end col-->
                </div><!--end row-->
              <% end %>
            <!--ONLY RENDER CONTENTS OF HIDDEN POST CRITIQUE FORM DIV IF 1) SOMEONE IS LOGGED IN AND 2) THEY HAVE NOT CRITIQUED THAT PHOTO -->

              </div>
          <!--END AJAX POST CRITIQUE FORM DIV - DEFAULTS TO HIDDEN, OUTER PART ALWAYS SHOWS---------->




          <!--START REGULAR POST CRITIQUE FORM DIV - ALWAYS RENDERS BUT IS EMPTY UNELSS PHOTO HAS BEEN CRITIQUED BY USER---------->
              <div class = "post-critique-box" id=<%=" post-critique-box-"+photo_object.fid %> fid = <%=photo_object.fid%>>

            <!--SHOW CONTENTS IF PHOTO HAS BEEN CRITIQUED BY LOGGED IN USER -->
              <%if has_critiqued?(photo_object[:fid]) %>
                <div class="col-md-12"> 
                  <a href=<%="/user/#{photo_object.user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a> &nbsp; Shot by <%=photo_object.user.name%> with these settings:
                </div>

                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                  
                    <div class = "col-md-8">
                      <div class = "row show-grid">
                          <%= image_tag "aperture_symbol.png", class: "settings-img"%> 
                          <div class="settings-text">ƒ/<%=photo_object.f_number%></div>
                          <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.exposure_time%></div>
                          <%= image_tag "iso_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=photo_object.iso%></div>
                      </div>
                    </div>

                    <div class = "col-md-2"></div>
                  </div><!--end col-->
                </div><!--end row-->

                <div class="col-md-12 post-critique-sugg"> 
                  <hr>
                  <a href=<%="/user/#{current_user.id.to_s}"%>><%= image_tag photo_object.user.avatar, class: "avatar"%></a> &nbsp; On <%=get_critique(photo_object.fid).created_at.to_date.strftime("%B %d, %Y")%> you suggested these settings:
                </div>


                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                  
                    <div class = "col-md-8">
                      <div class = "row show-grid sugg-list">
                          <%= image_tag "aperture_symbol.png", class: "settings-img"%> 
                          <div class="settings-text">ƒ/<%=get_critique(photo_object.fid).sugg_ap%></div>
                          <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=get_critique(photo_object.fid).sugg_sh%></div>
                          <%= image_tag "iso_symbol.png", class: "settings-img"%>
                          <div class="settings-text"><%=get_critique(photo_object.fid).sugg_iso%></div>
                      </div>
                    </div>

                    <div class = "col-md-2"></div>
                  </div><!--end col-->
                </div><!--end row-->
              
              <% end %>
            <!--END SHOW CONTENTS IF PHOTO HAS BEEN CRITIQUED BY LOGGED IN USER -->

              </div> 
          <!--END REGULAR POST CRITIQUE FORM DIV - ALWAYS RENDERS BUT IS EMPTY UNELSS PHOTO HAS BEEN CRITIQUED BY USER---------->


          </div> <!-- end form column-->
        </div><!-- end row containing column -->


        <% end %>
      <!--END LOOP FOR PHOTOS------>

    </div> 
</div>                                                                                                                                                                                            
<!--END OUTERMOST CONTAINERS-->

<%= will_paginate @photos %>
