<div class = "container">


      <div class="photo-home-container">
        <% Photo.all.each do |photo_object| %>
          <div class = "row show-grid">
            <div class = "col-md-12">Flag</div>
          </div>

          <div class = "row show-grid outer-form">

            <div class="col-md-6">
              <%= image_tag photo_object[:medium_640], class: "photo-home" %>
            </div>

            <div class="col-md-6 whole-form">
              <div class = "row show-grid">
                <div class = "col-md-2 img-col">
                  <div class = "col-md-12">Images here?</div>
                  <div class = "col-md-12">Aperture</div>
                  <div class = "col-md-12">Shutter</div>
                  <div class = "col-md-12">ISO</div>
                  <div class = "col-md-12">White Bal</div>
                  <div class = "col-md-12">Flash</div>
                </div>

                <div class = "col-md-3 settings-col">
                  <div class = "col-md-12">Used</div>
                  <div class = "col-md-12"><%=photo_object[:f_number]%></div>
                  <div class = "col-md-12"><%=photo_object[:exposure_time]%></div>
                  <div class = "col-md-12"><%=photo_object[:iso]%></div>
                  <div class = "col-md-12"><%=photo_object[:white_balance]%></div>
                  <div class = "col-md-12"><%=photo_object[:flash]%></div>
                </div>

                <div class = "col-md-7 sugg-settings-col">
                  <div class = "col-md-12">Critique</div>
                    <div class = "test-slider" id = <%=photo_object.fid+"-slider"%>  
                    fid = <%=photo_object.fid%> maxAp = <%=photo_object.max_aperture_value%>>
                    </div>
                    <div id =  <%=photo_object.fid+"-hint"%>>nothing</div> 
                    <div id = "test"></div>
                </div>
                </div>              
              
              </div>
            </div>
 
        <% end %>
      </div>

</div>
