
<div class="container">
  <br>
  <br>
  Obnoxious promotional graphics:
  <ul>
    <li>Criticalens is...</li>
    <li>Encourage user to get started by connecting with Flickr</li>
    <li>Show them what the can get (stats...woo)</li>
    <li>Show them what they can give (critiques...woo</li>
    <li>Tell them to get started</li>
    <li>Add a footer that says something about you and maybe links to your resume</li>
  </ul>
</div>

Aperture: <%=get_avg_aperture_sugg(Photo.find(1))%>
<br>
Shutter: <%=get_avg_shutter_sugg(Photo.find(1))%>
<br>
Iso: <%=get_avg_iso_sugg(Photo.find(1))%>
<br>
Aperture: <%=get_avg_aperture_sugg(Photo.find(2))%>
<br>
Shutter: <%=get_avg_shutter_sugg(Photo.find(2))%>
<br>
Iso: <%=get_avg_iso_sugg(Photo.find(2))%>
