<div class = "container">


      <div class="photo-home-container">
        <% Photo.all.each do |photo_object| %>
          <div class = "row show-grid">
            <div class = "col-md-12">Flag</div>
          </div>

          <div class = "row show-grid outer-form">

            <div class="col-md-6">
              <%= image_tag photo_object[:medium_640], class: "photo-home" %>
            </div>

            <div class="col-md-6 whole-form">
              <div class = "row show-grid">
                <div class = "col-md-2 img-col">
                  <div class = "col-md-12">Images here?</div>
                  <div class = "col-md-12">Aperture</div>
                  <div class = "col-md-12">Shutter</div>
                  <div class = "col-md-12">ISO</div>
                  <div class = "col-md-12">White Bal</div>
                  <div class = "col-md-12">Flash</div>
                </div>

                <div class = "col-md-3 settings-col">
                  <div class = "col-md-12">Used</div>
                  <div class = "col-md-12"><%=photo_object[:f_number]%></div>
                  <div class = "col-md-12"><%=photo_object[:exposure_time]%></div>
                  <div class = "col-md-12"><%=photo_object[:iso]%></div>
                  <div class = "col-md-12"><%=photo_object[:white_balance]%></div>
                </div>

                <div class = "col-md-7 sugg-settings-col">
                  <div class = "col-md-12">Critique</div>

                  <div class = "col-md-12">
                    <div class = "aperture-slider" id = <%=photo_object.fid+"-aperture-slider"%>  
                    fid = <%=photo_object.fid%> maxAp = <%=photo_object.max_aperture_value%>
                    apUsed = <%=photo_object.f_number%>>
                    </div>
                    <div id =  <%=photo_object.fid+"-aperture-hint"%>></div> 
                  </div>

                  <div class = "col-md-12">
                    <div class = "exposure-slider" id = <%=photo_object.fid+"-exposure-slider"%>  
                    fid = <%=photo_object.fid%> expUsed = <%=photo_object.exposure_time%>
                    maxExp = "1/15">
                    </div>
                    <div id =  <%=photo_object.fid+"-exposure-hint"%>></div> 
                  </div>

                  <div class = "col-md-12">
                    <div class = "iso-slider" id = <%=photo_object.fid+"-iso-slider"%>  
                    fid = <%=photo_object.fid%> isoUsed = <%=photo_object.iso%>
                    maxExp = "100">
                    </div>
                    <div id =  <%=photo_object.fid+"-iso-hint"%>></div> 
                  </div>

                  <div class = "col-md-12">

                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option1" autocomplete="off">Tungsten
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">Fluorescent
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off">Sunlight
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option1" autocomplete="off">Cloudy
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option1" autocomplete="off">Shade
                      </label>
                    </div>
                  </div>

                </div>

              </div>              
              
            </div>
          </div>
 
        <% end %>
      </div>

</div>
