<div class= "container">
  <div class = "photo-home-container">
    <div class = "outer-form-and-photo">
       
      <div class="col-md-12">
        <% if @photo.medium_800 %>
          <%= image_tag @photo.medium_800 %>
        <% else %>
          <%= image_tag @photo.medium_640 %>
        <% end %>
      </div>

      <div class = "row show-grid">
        <div class="col-md-6 user-settings">
          <div class="col-md-12">
            <a href=<%="/user/#{@photo.user.id.to_s}"%>><%= image_tag @photo.user.avatar, class: "avatar"%></a> &nbsp; Shot by <%=@photo.user.name%> with these settings:
          </div>
          <div class="col-md-12">
            <div class="row show-grid">
              <div class = "col-md-2"></div>
              <div class = "col-md-8">
                <div class = "row show-grid">
                  <%= image_tag "aperture_symbol.png", class: "settings-img"%>
                  <div class="settings-text">ƒ/<%=@photo.f_number%></div>
                  <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                  <div class="settings-text"><%=@photo.exposure_time%></div>
                  <%= image_tag "iso_symbol.png", class: "settings-img"%>
                  <div class="settings-text"><%=@photo.iso%></div>
                </div>
              </div><!--end 8 col-->
              <div class = "col-md-2"></div>
            </div><!--end row-->
          </div><!--end col-->
        </div><!--end col-6-->

        <div class="col-md-6 recommended-settings">
          <% if get_critiques(@photo).size > 0 %>
          <div class="col-md-12">
            <%= image_tag 'gears.png', class: "avatar"%> &nbsp; Users recommend these settings on average:
          </div>
          <div class="col-md-12">
            <div class="row show-grid">
              <div class = "col-md-2"></div>
              <div class = "col-md-8">
                <div class = "row show-grid">
                  <%= image_tag "aperture_symbol.png", class: "settings-img"%>
                  <div class="settings-text">ƒ/<%=get_avg_aperture_sugg(@photo)%></div>
                  <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                  <div class="settings-text"><%=get_avg_shutter_sugg(@photo)%></div>
                  <%= image_tag "iso_symbol.png", class: "settings-img"%>
                  <div class="settings-text"><%=get_avg_iso_sugg(@photo)%></div>
                </div>
              </div><!--end 8 col-->
              <div class = "col-md-2"></div>
            </div><!--end row-->
          </div><!--end col-->
          <% else %>
            <div class = "no-critiques col-md-12"> 
              <%= image_tag 'gears.png', class: "avatar"%> &nbsp; This photo has no critiques!
            </div>
          <% end %>
        </div><!--end col 6-->
       

        <!--start graphs-->
        <% if get_critiques(@photo).size > 0 %>
        <div class = "col-md-12 stats-box">
          <div class = "row show-grid">
            <div class = "col-md-4 show-photo-stats-col">
              <div id="aperture_chart" photo_id=<%=@photo.id%>></div>
            </div>
            <div class = "col-md-4 show-photo-stats-col">
              <div id="shutter_chart" photo_id=<%=@photo.id%>></div>
            </div>
            <div class = "col-md-4 show-photo-stats-col">
              <div id="iso_chart" photo_id=<%=@photo.id%>></div>
            </div>
          </div>
        </div><!--end graph--> 
        <% end %>

      
        <% if get_critiques(@photo).size > 0 %>
          <div class = "col-md-12 display-critiques-button-div">
            <div class = "btn btn-default display-critiques-button">Show critiques</div> 
          </div>
        <% end %>

        <% if get_critiques(@photo).size > 0 %>
        <% get_critiques(@photo).each do |critique| %>

          <div class = "col-md-12 each-critique-display hidden">
            <div class = "row show-grid">
              <div class = "col-md-3"></div>
            
              <div class = "col-md-6">
                <div class="col-md-12">
                  <a href=<%="/user/#{critique.author.to_s}"%>><%= image_tag User.find(critique.author).avatar, class: "avatar"%></a> &nbsp; On <%= critique.created_at.strftime("%B %d, %Y")%> <%=User.find(critique.author).name%> suggested these settings:
                </div>
                <div class="col-md-12">
                  <div class="row show-grid">
                    <div class = "col-md-2"></div>
                    <div class = "col-md-8">
                      <div class = "row show-grid">
                        <%= image_tag "aperture_symbol.png", class: "settings-img"%>
                        <div class="settings-text">ƒ/<%=critique.sugg_ap%></div>
                        <%= image_tag "shutter_symbol.png", class: "settings-img"%>
                        <div class="settings-text"><%=critique.sugg_sh%></div>
                        <%= image_tag "iso_symbol.png", class: "settings-img"%>
                        <div class="settings-text"><%=critique.sugg_iso%></div>
                      </div>
                  </div><!--end 8 col-->
                  <div class = "col-md-2"></div>
                  </div><!--end row-->
                </div><!--end col 6-->
              </div> <!--end col 12-->
              <div class = "col-md-3"></div>
            </div> <!--end row-->
          </div><!--end 12 col -->
        <% end %>
        <% end %>

      </div> <!--end row-->

    </div> <!--end outer form and photo thing-->
  </div> <!--end photo-home container -->
</div> <!--end outer container-->






