<div class= "container">
  <div class = "photo-home-container">
    <div class="row show-grid outer-form-and-photo">
      <div class="col-md-12">
        <%= image_tag @photo.medium_800 %>
      </div>

      <div class = "col-md-12">
      Settings used
      <br>
      <%= image_tag "aperture_symbol.png", class: "settings-img"%>
      <div class="settings-text">ƒ/<%=@photo.f_number%></div>
      <%= image_tag "shutter_symbol.png", class: "settings-img"%>
      <div class="settings-text"><%=@photo.exposure_time%></div>
      <%= image_tag "iso_symbol.png", class: "settings-img"%>
      <div class="settings-text"><%=@photo.iso%></div>
      </div>

      <div class="col-md-12">
        <% if !get_critiques(@photo).last %>
          This photo has no critiques!
        <% else %>
          
          <div class = "row show-grid">
            <div class = "col-md-12">Stats</div>
            <div class = "col-md-4 show-photo-stats-col">
              <div id="aperture_chart" photo_id=<%=@photo.id%>></div>
            </div>
            <div class = "col-md-4 show-photo-stats-col">
              <div id="shutter_chart" photo_id=<%=@photo.id%>></div>
            </div>
            <div class = "col-md-4 show-photo-stats-col">
              <div id="iso_chart" photo_id=<%=@photo.id%>></div>
            </div>
          </div>
      
          <% get_critiques(@photo).each do |critique|%>
            <a href=<%="/user/"+critique.author.to_s%>><%= image_tag User.find(critique.author).avatar, class: "avatar" %></a>
            <br>
            <%= User.find(critique.author).name %>
            <br>
            <%= image_tag "aperture_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text">ƒ/<%=critique.sugg_ap%></div>
            <br>
            <%= image_tag "shutter_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text"><%=critique.sugg_sh%></div>
            <br>
            <%= image_tag "iso_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text"><%=critique.sugg_iso%></div>
            <br>
            <hr>
          <% end %> 
        <% end %> 
      </div>
    </div>
  </div>
</div>
