<div class= "container">
  <div class = "photo-home-container">
    <div class="row show-grid outer-form-and-photo">
      <div class="col-md-12">
        <%= image_tag @photo.medium_800 %>
      </div>

      <div class="col-md-12">
        <% if !get_critiques(@photo).last %>
          This photo has no critiques!
        <% else %>
          <% get_critiques(@photo).each do |critique|%>
            <a href=<%="/user/"+critique.author.to_s%>><%= image_tag User.find(critique.author).avatar, class: "avatar" %></a>
            <br>
            <%= User.find(critique.author).name %>
            <br>
            <%= image_tag "aperture_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text">ƒ/<%=critique.sugg_ap%></div>
            <br>
            <%= image_tag "shutter_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text"><%=critique.sugg_sh%></div>
            <br>
            <%= image_tag "iso_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text"><%=critique.sugg_iso%></div>
            <br>
            <%= image_tag "wb_symbol.png", class: "settings-img"%>
            <br>
            <div class="settings-text"><%=critique.sugg_wb%></div>
            <hr>
          <% end %> 
        <% end %> 
      </div>
    </div>
  </div>
</div>
